.col-lg-3
  %ul
    %li
      %h3 Categories
    - @categories.each do |category|
      %li
        %h3
          = link_to "#{category.name}", category_path(category)
        %ul
        - category.subcategories.all.each do |subcategory|
          %li 
            = link_to subcategory.name, subcategory_path(subcategory)
