%section.container
  %h3#title
    = raw @project.name
  %h5#small-title
    by
    = @project.user.name
%br   
%section.container-2.show-project
  .wrap-section
    .content-project.col-lg-8
      %h2 Alrighty!
      %h5 Enter your pledge amount
      =form_for [@project, @backer] do |f|
        =f.text_field :amount
        %h3 Select your reward:
        =f.radio_button(:project_id, 'No reward')
        =f.label "No reward"
