.subtitle
  color: #75796f
  font-size: 19px
  margin: 0

.col-lg-9 ul li 
  float: left
  margin-right: 15px
  width: 31.2%

.project-bg
  background: #eef2ea
  border-radius: 9px
  padding: 5px

  .project-wrap
    background: #ffffff
    border: 1px solid #d0d5cb
    border-radius: 9px
    padding: 5px
    .img-project
      width: 200px
