%header.row.header
  .logo.large-3.columns
    %h5 Your logo goes here
  .about.large-1.columns

    %a{:href => "#"} What is kickstarter?
  .discover.large-1.menu.columns

    %a{:href => "#"} Discover
  .start.large-1.menu.columns

    %a{:href => "#"} Start
  .search-box.large-3.columns

    %input{:type => "search", :value => "Search projects"} 
  .help.large-1.columns

    %a{:href => "#"} Help
  .signup.large-1.columns

    %a{:href => "#"} Sing up
  .login.large-1.columns

    %a{:href => "#"} Log in

.picture 
  %img{:src => '#'}
  .info
    %h2 Bringing creative to life
    %p Curious about how it works?
    %a{:href => "#"}Learn More
    

.main-container.row
  .header-picture.large-12.columns
    %img{:src => "#"}
  .institutional-user.large-9.columns
    .info-section
      %p Total
      %p Total
      %p Total
      %img{:src => ""}
      %img{:src => ""}
    
    .galllery

    .about-section
      .overall-video
        .about-info

    %aside.side-bar.large-3.columns
      %ul.side-bar-nav
        %li.side-bar-item
          %a{:href => "#"} Start a project match
        %li.side-bar-item
          %a{:href => "#"} Start a project match
        %li.side-bar-item
          %a{:href => "#"} Start a project match
        %li.side-bar-item
          %a{:href => "#"} Start a project match
        %li.side-bar-item
          %a{:href => "#"} Start a project match
        %li.side-bar-item
          %a{:href => "#"} Start a project match
  .community-content.row
    .large-12.colums
      %a{:href => "#"} View all
  .user-community.row
    .large-12.colums
      %a{:href => "#"} View all

  %footer.footer.row
    .large-12.colums
      %a{:href => "#"} View all
      %ul.info-menu
        %li.info-item
          %a{:href => "#"} 
        %li.info-item
          %a{:href => "#"} Start a project match
      .info-menu2
        %h2 Who in the press is talking about Starfish
        %ul.info-menu
          %li.info-item
            %a{:href => "#"} 
          %li.info-item
            %a{:href => "#"} Start a project match

      .social-menu
        %ul.info-menu
          %li.info-item
            %a{:href => "#"} 
          %li.info-item
            %a{:href => "#"} Start a project match



