%header.row.header
  .logo.large-3.columns
    %h5 Your logo goes here
  .about.large-1.columns


    %a{:href => "#"} What is kickstarter?
  .discover.large-1.menu.columns

    %a{:href => "#"} Discover
  .start.large-1.menu.columns

    %a{:href => "#"} Start
  .search-box.large-3.columns

    %input{:type => "search", :value => "Search projects"} 
  .help.large-1.columns

    %a{:href => "#"} Help
  .signup.large-1.columns

    %a{:href => "#"} Sing up
  .login.large-1.columns

    %a{:href => "#"} Log in

.picture 
  .info
    %h2 Bringing creative to life
    %p Curious about how it works?
    %a{:href => "#"}Learn More
    

.main-container.row
  %article.large-9.columns
    %iframe Here goes the video
    %a{:href => "#"} Farrell & Co.- Handmade leather goods
    %p
      by Meg Farell in 
      %a{:href => "#"} Camdem, Me
    %p
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  
  %aside.side-bar.large-3.columns
    %ul.side-bar-nav
      %li.side-bar-item
        %a{:href => "#"} Art
      %li.side-bar-item
        %a{:href => "#"} Comics
      %li.side-bar-item
        %a{:href => "#"} Dance
      %li.side-bar-item
        %a{:href => "#"} Design 
      %li.side-bar-item
        %a{:href => "#"} Film and video 
      %li.side-bar-item
        %a{:href => "#"} Food 
      %li.side-bar-item
        %a{:href => "#"} Games
      %li.side-bar-item
        %a{:href => "#"} Music
      %li.side-bar-item
        %a{:href => "#"} Photography
      %li.side-bar-item
        %a{:href => "#"} Publishing
        %li.side-bar-item
        %a{:href => "#"} Tecnology
      %li.side-bar-item
        %a{:href => "#"} Theater

.popular-content.row
  .large-12.colums
     

%footer.footer.row
  .large-12.colums
    %a{:href => "#"} View all
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} 
      %li.info-item
        %a{:href => "#"} Start a project match
  .info-menu2
    %h2 Who in the press is talking about Starfish
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} 
      %li.info-item
        %a{:href => "#"} Start a project match

      

