%header.row.header
  .logo.large-3.columns
    %h5 Your logo goes here
  .about.large-1.columns


    %a{:href => "#"} What is kickstarter?
  .discover.large-1.menu.columns
    %a{:href => "#"} Discover
  .start.large-1.menu.columns
    %a{:href => "#"} Start
  .search-box.large-3.columns
    %input{:type => "search", :value => "Search projects"} 
  .help.large-1.columns
    %a{:href => "#"} Help
  .signup.large-1.columns
    %a{:href => "#"} Sing up
  .login.large-1.columns
    %a{:href => "#"} Log in

.picture 
  .info
    %h2 Bringing creative to life
    %p Curious about how it works?
    %a{:href => "#"}Learn More
    

.main-container.row
  %article.large-9.columns
    %iframe Here goes the video
    %a{:href => "#"} Farrell & Co.- Handmade leather goods
    %p
      by Meg Farell in 
      %a{:href => "#"} Camdem, Me
    %p
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  
  %aside.side-bar.large-3.columns
    %ul.side-bar-nav
      %li.side-bar-item
        %a{:href => "#"} Art
      %li.side-bar-item
        %a{:href => "#"} Comics
      %li.side-bar-item
        %a{:href => "#"} Dance
      %li.side-bar-item
        %a{:href => "#"} Design 
      %li.side-bar-item
        %a{:href => "#"} Film and video 
      %li.side-bar-item
        %a{:href => "#"} Food 
      %li.side-bar-item
        %a{:href => "#"} Games
      %li.side-bar-item
        %a{:href => "#"} Music
      %li.side-bar-item
        %a{:href => "#"} Photography
      %li.side-bar-item
        %a{:href => "#"} Publishing
        %li.side-bar-item
        %a{:href => "#"} Tecnology
      %li.side-bar-item
        %a{:href => "#"} Theater

.popular-content.row
  .large-12.colums
    .popular-img
      %img{:src => ""}
      %h5 Here goes the project description
      %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab
    .popular-img
      %img{:src => ""}
      %h5 Here goes the project description
      %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab

    .popular-img
      %img{:src => ""}
      %h5 Here goes the project description
      %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab

    .popular-img
      %img{:src => ""}
      %h5 Here goes the project description
      %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab

.curated-pages.row
  .curated-projects.large-12.columns
    .curated-image
      %img{:src => ""}
    .curated-image
      %img{:src => ""}
    .curated-image
      %img{:src => ""}
    .curated-image
      %img{:src => ""}
    .curated-image
      %img{:src => ""}
    .curated-image
      %img{:src => ""}
    .curated-image
      %img{:src => ""}
    .curated-image
      %img{:src => ""}


%footer.footer.row
  .large-2.columns
    %p Discover
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} Art 
      %li.info-item
        %a{:href => "#"} Comics
      %li.info-item
        %a{:href => "#"} Dance 
      %li.info-item
        %a{:href => "#"} Design
      %li.info-item
        %a{:href => "#"} Fashion
      %li.info-item
        %a{:href => "#"} Film & Video
      %li.info-item
        %a{:href => "#"} Food 



  .large-2.columns
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} Games
      %li.info-item
        %a{:href => "#"} Music
      %li.info-item
        %a{:href => "#"} Photography
      %li.info-item
        %a{:href => "#"} Publishing
       %li.info-item
        %a{:href => "#"} Technlogy
      %li.info-item
        %a{:href => "#"} Theater
  .large-2.columns
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} Colima Col. 
      %li.info-item
        %a{:href => "#"} Mexico
      %li.info-item
        %a{:href => "#"} Staff picks
      %li.info-item
        %a{:href => "#"} Popular
       %li.info-item
        %a{:href => "#"} Recently launched 
      %li.info-item
        %a{:href => "#"} Small projects
      %li.info-item
        %a{:href => "#"} Most funded
      %li.info-item
        %a{:href => "#"} Curated pages 

      
  .large-2.columns
    %p Create
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} Start a project
      %li.info-item
        %a{:href => "#"} Kickstarter school
       %li.info-item
        %a{:href => "#"} Creator questions  
      %li.info-item
        %a{:href => "#"} Project guideliness
      
  .large-2.columns
    %p About
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} What is kickstarter?
      %li.info-item
        %a{:href => "#"} Prject guidelines
       %li.info-item
        %a{:href => "#"} Meet our team 
      %li.info-item
        %a{:href => "#"} Work at kickstart
      %li.info-item
        %a{:href => "#"} Press 
      %li.info-item
        %a{:href => "#"} Stats 
       %li.info-item
        %a{:href => "#"} Best of kickstart 2012 
  
  
  
  .large-2.columns
    %p Stay in touch
    %ul.info-menu
      %li.info-item
        %a{:href => "#"} Blog 
      %li.info-item
        %a{:href => "#"} Newsletter 
      %li.info-item
        %a{:href => "#"} Twitter  
      %li.info-item
        %a{:href => "#"} Tumblr
      %li.info-item
        %a{:href => "#"} Facebook
 
   

