.main-content
  %div#running-board-wrap
    .container#running-board
      .NS_users__profile
        #profile_avatar
          %img.img-responsive{:src => "#{current_user.avatar}"}/
        #profile_bio
          %h2
            = current_user.name
            %span.creator_tag.highlight
          %p.normal_type
            %span.backed
              Backed
              0
              projects
            %span.divider
              ·
            %span.joined
              Joined
              =current_user.created_at

