%h1 Pages
%table(ng-controller="pagesController" ng-init="showPages()")
  %thead
    %tr
      %th Title
  %tbody(ng-repeat="page in pages")
    %tr
      %td {{page.title}}
      %td= link_to 'Show', "/pages/{{page.slug}}"
      %td= link_to 'Edit', "/pages/{{page.id}}"+"/edit"
      %td= link_to 'Destroy Page',"/pages/{{page.id}}",method: :delete,data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Page', new_page_path
