.edit-content
  %h1.edit-title Edit project
  %section
    = form_for @project do |f|
      %h4 
        Name:
        = raw @project.name
      %p   
        =f.label :description
        =f.text_field :description
      %p 
        =f.label :content
        =f.text_area :content, :size => "70x10", :class => "text-area"
      %h4 
        Period:
        = raw @project.period
      %h4 
        Goal:
        =raw @project.goal
      %h4 Video  
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => @project.video, :width => "560"}
      %h4 
        Change: 
        =f.text_field :video, :value => @video
      %h4 Picture:
      %img{:src => @project.picture , :class =>"thumbnail", :width => "560", :height => "315"}
      %br
        Change:
        =f.file_field :picture, :value => "holis"
        =f.hidden_field :picture_cache
      %h4 
        Category:
        =raw @project.category_id
      %h4 Change:
      \#{f.collection_select :category_id , @categories, :id,:name, {:prompt => @project.category_id}}
      %h4 
        City:
        =raw @project.location
      =f.submit :class => "btn btn-primary dropdown-toggle align"
      :javascript
        $('#project_content').wysihtml5();

