<h1>Listing projects</h1>
 <%= link_to "New" , {:action => 'new'}%>
<section class="cuerpo">
  <table id="projects">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Autor</td>
        <td>Description</td>
        <td>Goal</td>
      </tr>
    </thead>
  
       <tbody class="page">
      <%= render  @projects %>
    </tbody>

</table>
 <%= link_to "New" , {:action => 'new'}%>
<%= paginate @projects %>

</section>

