%h1 Create project
%section
  = form_for :project do |f|
    %p
      =f.label :name
      =f.text_field :name 
    %p
      =f.label :description
      =f.text_field :description
    %p
      =f.label :content
      =f.text_field :content
    %p 
      =f.label :image
      =f.file_field 'upload'
      =submit_tag "Updolad"
    %p 
      =f.label :video
      =f.text_field :video
    %p 
      =f.label :goal
      =f.text_field :goal
    %p 
      =f.label :period
      =f.text_field :period
    %p 
      =f.label :category
    %section(ng-controller="fillComboController" ng-init= "fillCombo()")
      %select{:value => "Category", :name =>"category"}
        %option(ng-repeat="category in categories"){:value => "{{category.id}}" } 
          {{category.name}}
    %br/
