
.picture 
  .left
  .right
.info
  %h2 Image display
  %p Description about how kickstart works 
  %a{:href => "#"} Link to the description page
    

.main.container
  %article.col-9
    %h3 Selected category
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "250", :src => "//www.youtube.com/embed/_OT0-GQ2SaA?list=UUPV33YGEVLwtOotz9ZG0XQw", :width => "340"}
    .article-content  
      %a{:href => "#"} Project name
      %p
        by Creator
        %a{:href => "#"} City
      %p
        "Lorem ipsum dolor sit amet. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  
  %aside.side-bar.col-3
    %ul.side-bar-nav
      %li.side-bar-item
        %a{:href => "#"} Categories
      %li.side-bar-item
        %a{:href => "#"} Categories
      %li.side-bar-item
        %a{:href => "#"} Categories
      %li.side-bar-item
        %a{:href => "#"} Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories
      %li.side-bar-item
        %a{:href => "#"}  Categories


  .popular-content.col-12
    
    %h3.popular-title 
      = link_to 'Popular', '#'
    %h4 In this section appears the most popular projects 
    %table
      %tr
        %td
          %img{:src => "/assets/photo-little.jpg"} 
          %h5 Here goes the project description
          %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab
          %h5 In this section you can see statistics about the project such as funded, pledged and days to go 
        %td
          %img{:src => "/assets/photo-little.jpg"}
          %h5 Here goes the project description
          %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab
          %h5 In this section you can see statistics about the project such as funded, pledged and days to go 


        %td 
          %img{:src => "/assets/photo-little.jpg"}
          %h5 Here goes the project description
          %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab
          %h5 In this section you can see statistics about the project such as funded, pledged and days to go 

        %td
          %img{:src => "/assets/photo-little.jpg"}
          %h5 Here goes the project description
          %p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab
          %h5 In this section you can see statistics about the project such as funded, pledged and days to go 


    %h3.curated-title
      = link_to 'Curated Pages', '#'

