.container 
  background: #ffffff
  margin: 0 auto
  width: 960px
  
.popular-title
  background: asset-url('icon-trending.gif') no-repeat
  padding-left: 30px

.curated-title
  background: asset-url('icon-star.gif') no-repeat
  padding-left: 30px


