body
  background: #eef2ea
.submenu
  font-size: 12px
  font-family: "Helvetica Neue",Helvetica,Arial
  ul 
    display: inline
    a
      padding: 0em .2em
      background: rgb(117, 121, 111)
      border-radius: .3em
      color: white
      font-size: 12px
    li 
      display: inline
table 
  tr
    background: red
    padding: 8em
    td
      padding: 8em

hr
  margin: 0
  padding: 0
