.container-2
  width: 994px
  margin: 0 auto

#title
  padding: 20px 0 0 0
  margin: 0 auto
  text-align: center
#small-title
  padding: 20px 0 0 0
  margin: 0 auto
  text-align: center

.btn2
  padding: 5px 20px 1px 20px

.col-space
  width: 50px
  float: left
  position: relative
  min-height: 1px
  padding-right: 15px

.wrap-section
  width: 970px
  margin: 0 auto
  height: 100%
  overflow: hidden
  padding: 25px 0px

.submenu
  font-size: 12px
  font-family: "Helvetica Neue",Helvetica,Arial
  ul 
    display: inline
    a
      &:hover
        text-decoration: none
    li 
      display: inline
.grey
  color: #75796F

.show-project
  border-style: solid
  border-color: rgba(192,192,192,0.5)
  box-shadow: 3px 3px 2px #CCC
  background: white
  height: 100%

.dates-project
  background: #eef2ea

.content-project
  text-align: justify
  display: block

.tittle-project
  text-align: center

.funding-period
  width: 100%
  padding-top: 1em
  padding-bottom: 1em
  background: rgb(208,213,203)
  text-align: center

hr
  margin: 0
  padding: 0

.menu-discover-projects
  padding-left: 2em
  li
  a
    border-radius: 3px
    padding: 6px 10px
    background: rgb(118, 204, 30)
    border: 1px solid transparent
    font-size: 12px
    color: white
    &:hover
      background: #78EB05

.espacio
  background: #ffffff
  width: 15em
  padding: .5em
  border-radius: 5px
  border-weight: 2em
  border-style: solid
  border-width: 1px
  border-color: rgb(238, 242, 234)
  -webkit-box-shadow: 3px 3px 2px #CCC 
  -moz-box-shadow: 3px 3px 2px #CCC
  -ms-box-shadow: 3px 3px 2px #CCC
  box-shadow: 3px 3px 2px #CCC

.show-preview-project
  margin-right: 1em
  width: 19em

.little-project-name
  text-align: left

   
  
