body
  background: rgb(255, 255, 255)

.submenu
  font-size: 12px
  font-family: "Helvetica Neue",Helvetica,Arial
  ul 
    display: inline
    a
      background: rgb(117, 121, 111)
      border-radius: .3em
      color: white
      font-size: 12px
    li 
      display: inline

.project
  height: 200px
  font-size: 12px
  span
    color: rgb(11, 25, 2) 

.grey
  color: #75796F


hr
  margin: 0
  padding: 0
