%footer.footer
  %span
  %section.content.content-center
    %ul.col-lg-3.span3
      %li
        %h3 Discover
      - @categories.each do |category|
        %li
          %p
            = link_to "#{category.name}", category_path(category)
    %ul.sitemap.col-log-3.span3
      %li
        %h3 Pages
      - @sitemaps.each do |site|
        %li
          %a{:href => "#{page_path(site)}"}
            %p #{site.title}
