%header.row.header
  .logo.large-3.columns{:id => "logo", "data-mercury" => "simple"}
    %h5 Your logo goes here
  .about.large-1.columns
    %a{:href => "/cms/What-is"}
      %span What is kickstarter?
  .discover.large-1.menu.columns
    %a{:href => ""} Discover great projects
  .start.large-1.menu.columns
    %a{:href => "#"} Start a project
      
  .search-box.large-3.columns
    %input{:type => "search", :value => "Search projects"} 
  .help.style.large-1.columns
    %p 
  .signup.style.large-1.columns

    %a{:href => "#"} Sing up
  .login.style.large-1.columns
    %a{:href => "#"} Log in
%hr

